[submodule "dot-vim/bundle/vim-pathogen"]
	path = dot-vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "dot-vim/bundle/vim-fugitive"]
	path = dot-vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "dot-vim/bundle/vim-abolish"]
	path = dot-vim/bundle/vim-abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule "dot-vim/bundle/tabular"]
	path = dot-vim/bundle/tabular
	url = http://github.com/godlygeek/tabular.git
